<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar Menu externo-->
    <ul class="sidebar-menu" data-widget="tree">

      <li style="margin-top: 3px; margin-bottom: 20px;" class="header ui-fluid">
          <span>Menu de Pedidos</span>
      </li>

      <!-- Itens de Menu -->
      <li (click)="pedidos()"><a href="javascript:;"><img src="/assets/images/report.png" style="width: 24px; height: 24px;"/><span class="espaco-figura">Pedidos</span></a></li>

    </ul>

  </section>

</aside>
